@mixin container {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    min-height: calc(100vh - 365px);
}
@mixin container-content {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 40px;
}

@mixin container-content__full {
    @include container;
    &--content {
        @include container-content;
    }
}

@mixin bookmark-btn {
    color:$white-color;
    background-color: $darkblue-color;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

@mixin border-color {
    @for $i from 1 through 4{
        &:nth-child(#{-$i+6}) {
            grid-column: span 3;
            border-color:nth($colors, $i);

            @media (max-width: 768px) {
                grid-column: span 6;
            }
            @media (min-width:769px) and (max-width: 1200px) {
                grid-column: span 4;
            }
        }
    }
}