$white-color:#fff;
$lightblue-color:#2253a3;
$darkblue-color:#09367B;
$black-color: #000;
$fallbackblue-color:#0F47A2;
$red-color:#ff0000;
$darkred-color:#db3646;
$success-color:#28A744;
$colors: $success-color,$darkblue-color,yellow,$red-color;